@media (max-width: 1200px) {
  .container {
    padding: 0 32px;
  }
  .header__content-title {
    font-size: 70px;
  }
}

@media (max-width: 1050px) {
  .offer__container {
    max-width: 862px;
  }

  .offer__title {
    font-size: 28px;
  }
  .about__side-content {
    max-width: 350px;
  }
}

@media (max-width: 1000px) {
  .header__content-title {
    font-size: 65px;
  }
}

@media (max-width: 960px) {
  .offer__container {
    max-width: 837px;
  }
  .offer__title {
    font-size: 26px;
  }
}

@media (max-width: 930px) {
  .header__content-title {
    font-size: 58px;
  }
  .header__content-subtitle {
    font-size: 46px;
  }

  .offer__container {
    max-width: 768px;
  }
  .offer__title {
    font-size: 24px;
  }

  .offer__left-side__text {
    font-size: 18px;
  }
  .offer__right-side {
    max-width: 330px;
  }
}

@media (max-width: 850px) {
  .header__content-title {
    font-size: 50px;
    line-height: normal;
  }
  .header__content-subtitle {
    font-size: 38px;
    line-height: normal;
  }

  .offer__container {
    max-width: 740px;
  }
  .offer__title {
    font-size: 24px;
  }

  .offer__left-side__text {
    font-size: 18px;
  }
  .offer__right-side {
    max-width: 330px;
  }
}

@media (max-width: 800px) {
  .header__content-title {
    font-size: 48px;
    margin: 32px 0 0 0;
  }
  .header__content-subtitle {
    font-size: 36px;
  }
  .header__logo {
    margin-top: 86.5px;
  }

  .offer__container {
    flex-direction: column;
  }
  .offer__right-side {
    max-width: 368px;
  }
  .offer__left-side {
    padding-top: 80px;
  }
  .offer__title {
    font-size: 32px;
  }
  .offer__left-side__text {
    font-size: 20px;
  }
  .about__title {
    font-size: 24px;
  }
  .about__list li {
    font-size: 16px;
  }
  .about__side-content {
    max-width: 260px;
  }
  .about__side {
    padding-top: 32px;
  }
  .about {
    gap: 16px;
    margin-bottom: 64px;
  }
}

@media (max-width: 705px) {
  .header__content-title {
    font-size: 40px;
  }
  .header__content-subtitle {
    font-size: 28px;
  }

  .offer__title {
    font-size: 28px;
  }
  .offer__left-side__text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 560px) {
  .header__content-title {
    font-size: 36px;
  }
  .header__content-subtitle {
    font-size: 24px;
  }

  .about {
    flex-direction: column;
  }
  .about__side {
    width: 100%;
  }
  .about__image {
    max-width: 220px;
  }
  .about__side-content {
    margin-left: 32px;
  }
}

@media (max-width: 500px) {
  .header__content-title {
    font-size: 32px;
  }
  .header__content-subtitle {
    font-size: 24px;
  }
  .header__logo {
    margin-top: 48px;
  }

  .offer__title {
    font-size: 24px;
  }
  .offer__left-side__text {
    font-size: 16px;
  }
  .offer__left-side__text {
    max-width: 349px;
  }
  .offer__left-side {
    padding: 60px 24px;
  }
  .offer__right-side {
    margin: 0 40px 45px 40px;
  }
  .about {
    margin-bottom: 48px;
  }

  .about__side {
    max-height: 328px;
    position: relative;
  }

  .about__image {
    margin-top: -4rem;
  }

  .about__side:last-child {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  .gear {
    max-width: 220px;
    position: absolute;
    bottom: -24px;
    right: -7%;
  }

  .footer p {
    max-width: 100%;
  }
}

@media (max-width: 456px) {
  .header__content-title {
    font-size: 26px;
  }
  .header__content-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .offer__subtitle {
    font-size: 20px;
  }
  .offer {
    border-radius: 0px;
  }

  .offer-section .container {
    padding: 0;
  }

  .offer__details p {
    padding: 4px 2px;
    line-height: normal;
  }
  .about__title {
    font-size: 16px;
    line-height: normal;
  }
  .about__image {
    max-width: 120px;
  }
  .about__side {
    max-height: 210px;
    padding-top: 24px;
    position: relative;
  }
  .offer__left-side {
    padding: 40px 24px;
  }
  .about__list li {
    line-height: 19px;
  }
  .gear {
    bottom: -11px;
    right: -3%;
  }

  .main__banner {
    margin-bottom: 24px;
  }

  .offer__right-side {
    margin: 0 12px 40px 12px;
  }

  .footer__text {
    padding: 8px 0 40px 0;
  }

  .footer__content {
    padding-top: 56px;
  }
}

@media (max-width: 375px) {
  .header__content-title {
    font-size: 20px;
  }
  .header__content-subtitle {
    font-size: 16px;
  }
  .container {
    padding: 0 12px;
  }
  .header__logo svg {
    max-width: 170px;
  }
  .header__logo {
    margin-top: 40px;
  }
}
